<h2 class="mt-4">Moje knihy</h2>

<input id="filtr" type="text" class="form-control mb-1 mt-4" placeholder="Hledej název, či autora...">
<table class="table table-hover m-0">
    <thead>
        <th scope="col" style="width: 25%" class="vybrano" data-colname="nazev" data-order="desc">Název knihy </th>
        <th scope="col" style="width: 20%" class="" data-colname="autor" data-order="desc">Autor </th>
        <th scope="col" style="width: 10%" class="" data-colname="rating" data-order="desc">★ </th>
        <th scope="col" style="width: 20%" class="" data-colname="pridano" data-order="desc">Přidáno </th>
        <th scope="col" style="width: 10%" class="" data-colname="akce" data-order="desc">Detail </th>

    </thead>
    <tbody id="myTable" *ngFor="let kniha of seznamKnih">
        <tr>
            <td>{{ kniha.nazev }}</td>
            <td>{{ kniha.autor }}</td>
            <td>{{ kniha.rating }}</td>
            <td>{{ kniha.pridano }}</td>
            <td>akce</td>
        </tr>
    </tbody>
</table>
